li {
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

.my-nav-link:focus {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.my-nav-link:active {
    border: 1px solid #292929;
    color: #292929;
}

.my-nav-link {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    margin-right: 0px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
}
.my-nav-link:hover {
    text-decoration: none;
    color: #0f0;
}

.spacer {
    flex: 1 1 auto;
}

.right-navbar-nav{
    text-decoration: none;
    float: right; 
}
.dropdown {list-style: none; color: white; padding: 10px; display: inline-block; margin-top: -9px;}
.dropdown .nav-link {color:#fff; text-decoration: none; }
.dropdown .nav-link:hover{color:#fff; text-decoration: none; }
.dropdown .dropdown-menu {
    color: #fff; 
    text-decoration: none; 
    background-color: rgb(0, 123, 255);
    margin-left: 20px;
    padding-left: 10px;
    font-size: 18px;
}
.dropdown .dropdown-menu a{color: #fff; text-decoration: none; background-color: rgb(0, 123, 255);}
.dropdown .dropdown-menu a:hover {color: #5f7;}
.dropdown .btn {background: green; color:#fff;}
.dropdown .btn:hover {background: cyan; color:#000;}
.dropdown .btn:active {background: cyan; color:#000;}
.dropdown .btn:focus {background: cyan; color:#000;}
.dropdown-menu .dropdown-item {display: inline-block; width: 100%; padding: 10px 5px;}
.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}

#original.menu .nav-pills .dropdown .open .dropdown-toggle {
    border: 1px solid blue;
}

#suggested.menu .nav-pills .dropdown .dropdown-toggle {
    border: 1px solid red;
}

.nav-name{
    color: "#ff0";
}
